#detail{
    background-image: url("https://e-pora-next.vercel.app/assets/img/bg/shape-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.flip-container {
    perspective: 1000px;
  }
  
  .flip {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-container:hover .flip {
    transform: rotateY(180deg);
  }
  
  .flip img {
    backface-visibility:visible;
  }
  