#provideCards{
    background-image: url("https://e-pora-next.vercel.app/assets/img/bg/shape-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card-container:hover .lift-up {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  #imgprovide{
    background-color: #343456;
  }